:root {
  --title-color: #212121;
  --special-title-color:#FFFFFF;
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-bgc: #FFFFFF;
  --secondary-bgc: #F5F4FA;
  --hero-bgc: #2F303A;
}

body {
  color: #2a2a2a;
  background-color: #fff;
  font-family: Roboto;
  letter-spacing: 0.03em;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.ul, .ol, .h1, .h2, .h3, .h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.about__list,
.portfolio__list,
.footer__footer-social-list,
.clients__list,
.social-list,
.team__list,
.footer,
.footer-social,
.footer__list,
.header__site-nav-list,
.header__auth-nav-list,
.projects__menu-list,
.projects__list,
.mobile-menu__list,
.mobile-menu__contact-list,
.mobile-menu__social-list {
  list-style: none;
}

.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header__container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  .header__logo-header {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .header__second-logo-header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-color);
  }
  .header__mobile-menu-btn, .mobile-menu {
    display: none;
  }
  .header__site-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
  }
  .header__site-nav-list li {
    margin-right: 50px;
  }
  .header__site-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__site-link:hover, .header__site-link:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
  .header__site-nav-item-acent {
    position: relative;
  }
  .header__site-nav-item-acent::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 45px;
  }
  .header__site-link-acent {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
  }
  .header__contacts-header {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-header:hover, .header__contacts-header:focus {
    color: #2196F3;
  }
  .header__contacts-header:hover .header__phone, .header__contacts-header:focus .header__phone {
    fill: #2196F3;
  }
  .header__contacts-header:hover .header__mail, .header__contacts-header:focus .header__mail {
    fill: #2196F3;
  }
  .header__auth-nav-item {
    margin-bottom: 10px;
  }
  .header__auth-nav-item:last-child {
    margin-bottom: 0px;
  }
  .header__auth-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__mail, .header__phone {
    margin-right: 10px;
    fill: #757575;
  }
}

@media screen and (max-width: 767px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .header__container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 480px;
  }
  .header__logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  .header__logo-header {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .header__second-logo-header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-color);
  }
  .header__site-nav-list {
    display: none;
  }
  .header__auth-nav-list {
    display: none;
  }
  .header__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .header__mobile-menu-btn:hover .header__mobile-menu-icon,
  .header__mobile-menu-btn:focus .header__mobile-menu-icon {
    fill: #2196F3;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    z-index: 100;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    top: 15px;
    right: 25px;
    z-index: 200;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon:focus, .mobile-menu__close-icon:hover {
    fill: #2196f3;
  }
  .mobile-menu-container {
    position: relative;
    z-index: 100;
  }
  .mobile-menu__div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 48px 83px 48px 40px;
  }
  .mobile-menu__contact-list {
    margin-top: auto;
    padding-left: 0;
  }
  .mobile-menu__item {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: #2196f3;
  }
  .mobile-menu__contact-item {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-item:last-child {
    margin-bottom: 64px;
  }
  .mobile-menu__tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }
  .mobile-menu__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  .mobile-menu__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    margin-top: 0;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }
  .mobile-menu__social-item {
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .mobile-menu__social-item:last-child {
    margin-right: 0px;
  }
  .mobile-menu__list {
    padding-left: 0px;
    margin-bottom: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mobile-menu-btn, .mobile-menu {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .header__container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 480px;
  }
  .header__logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  .header__logo-header {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .header__second-logo-header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-color);
  }
  .header__site-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
  }
  .header__site-nav-list li {
    margin-right: 50px;
  }
  .header__site-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__site-link:hover, .header__site-link:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
  .header__site-nav-item-acent {
    position: relative;
  }
  .header__site-nav-item-acent::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 45px;
  }
  .header__site-link-acent {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
  }
  .header__contacts-header {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-header:hover, .header__contacts-header:focus {
    color: #2196F3;
  }
  .header__contacts-header:hover .header__phone, .header__contacts-header:focus .header__phone {
    fill: #2196F3;
  }
  .header__contacts-header:hover .header__mail, .header__contacts-header:focus .header__mail {
    fill: #2196F3;
  }
  .header__contacts-header {
    margin: 0;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-header:hover, .header__contacts-header:focus {
    color: #2196F3;
  }
  .header__contacts-header:hover .header__phone, .header__contacts-header:focus .header__phone {
    fill: #2196F3;
  }
  .header__contacts-header:hover .header__mail, .header__contacts-header:focus .header__mail {
    fill: #2196F3;
  }
  .header__auth-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header__auth-nav-list .header__auth-nav-item + .header__auth-nav-item {
    margin-left: 50px;
  }
  .header__mail, .header__phone {
    margin-right: 10px;
    fill: #757575;
  }
  .header__auth-nav-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: #C4C4C4;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobhero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobhero.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    background-repeat: no-repeat;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/mobhero.jpg);
  }
  .hero__title {
    color: var(--special-title-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .hero__button {
    color: var(--special-title-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    margin: auto;
    height: 50px;
    padding: 10px 32px 10px 32px;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: #C4C4C4;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tabhero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tabhero.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/tabhero.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    color: var(--special-title-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .hero__button {
    color: var(--special-title-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    margin: auto;
    height: 50px;
    padding: 10px 32px 10px 32px;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1200) {
  .hero {
    background-color: #C4C4C4;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200) and (min-device-pixel-ratio: 2), screen and (min-width: 1200) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200) and (min-resolution: 192dpi), screen and (min-width: 1200) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero.jpg);
  }
}

@media screen and (min-width: 1200) {
  .hero__title {
    color: var(--special-title-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .hero__button {
    color: var(--special-title-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    margin: auto;
    height: 50px;
    padding: 10px 32px 10px 32px;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
  }
}

.about__list, .portfolio, .header {
  background-color: var(--primary-bgc);
  margin: 0;
  padding-left: 0px;
}

.about__image {
  background: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
}

.about__icon {
  background: #F5F4FA;
  border-radius: 4px;
}

.about__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.about__text {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .section-about {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 480px;
  }
  .about__list {
    display: block;
  }
  .about__title {
    text-align: center;
    margin-top: 30px;
  }
  .about__item {
    max-width: 450px;
  }
  .about__text {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section-about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    width: 354px;
    margin-right: 30px;
  }
  .about__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .about__item {
    width: 270px;
    margin: 0px;
  }
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio__list {
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__image {
  margin-right: 30px;
  position: relative;
}

.portfolio__over-thumb {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 224px;
}

.portfolio__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--special-title-color);
}

@media screen and (max-width: 1199px) {
  .portfolio {
    display: none;
  }
}

.team {
  background-color: var(--secondary-bgc);
}

.team__list {
  padding-left: 0px;
  margin-bottom: 0px;
}

.team__foto {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 0px;
}

.team__title {
  color: var(--title-color);
  font-weight: 700px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team__div {
  padding-top: 30px;
  background-color: var(--primary-bgc);
  margin-top: -5px;
}

.team__name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--primary-bgc);
}

.team__profession {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: var(--primary-bgc);
  margin-top: 10px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .team__list {
    padding-left: 0px;
    margin: 30px 15px 0px 15px;
    display: block;
  }
  .team__foto {
    max-width: 450px;
    margin-top: 30px;
  }
  .team__img {
    width: 100%;
    height: 100%;
  }
  .team__title {
    font-size: 28px;
  }
  .team__div {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .team__list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__foto {
    margin-right: 30px;
  }
  .team__foto:last-child {
    margin-right: 0px;
  }
  .team__title {
    font-size: 36px;
  }
  .team__div {
    padding-bottom: 30px;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .team__list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .team__img {
    width: 354px;
  }
  .team__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .team__div {
    padding-bottom: 24px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-left: 0px;
}

.social-list-item {
  margin-right: 10px;
}

.social-list-item:nth-child(4n) {
  margin-right: 0px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-bgc);
}

.social-list-icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon:hover, .social-list-icon:focus {
  fill: var(--primary-bgc);
}

.clients__title {
  color: var(--title-color);
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.clients__link {
  fill: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid #2196F3;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__title {
    font-weight: 700;
    font-size: 28px;
  }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    gap: 30px;
  }
  .clients__item {
    width: 210px;
    height: 92px;
  }
  .clients__link {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    gap: 30px;
  }
  .clients__item {
    width: 226px;
    height: 92px;
  }
  .clients__link {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
    margin: 0px;
  }
  .clients__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
  }
  .clients__item {
    width: 170px;
    height: 90px;
  }
}

@media screen and (max-width: 479.98px) {
  .clients__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients__item {
    width: 100%;
  }
}

.footer {
  background-color: var(--hero-bgc);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  padding-left: 0px;
  margin-bottom: 0px;
}

.footer__logo-footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer__first-logo-footer {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer__second-logo-footer {
  color: #FFFFFF;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer__footer-adress_link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer__footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--special-title-color);
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer__footer-social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.footer__footer-social-link:hover, .footer__footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer__footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__footer-social-item:last-child {
  margin-right: 0px;
}

.footer__form-input {
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  border: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__telegram-btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: var(--accent-color);
  margin: 0;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--special-title-color);
}

.footer__telegram-icon {
  fill: var(--special-title-color);
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__email-div {
    text-align: center;
  }
  .footer__footer-social-div {
    text-align: center;
  }
  .footer__logo-footer {
    text-align: center;
  }
  .footer__footer-adress {
    display: block;
  }
  .footer__list {
    text-align: center;
  }
  .footer__footer-adress {
    margin-right: 165px;
    margin-bottom: 60px;
  }
  .footer__footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
  .footer__form-input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__telegram-btn {
    margin-top: 30px;
  }
  .footer__email-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo-footer {
    text-align: center;
  }
  .footer-container {
    max-width: 480px;
    background-color: var(--hero-bgc);
    display: block;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__footer-adress {
    display: block;
    margin-right: 0px;
  }
  .footer__list {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer__title {
    text-align: center;
  }
  .footer__footer-social-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__item {
    margin-top: 8px;
  }
  .footer__item:first-child {
    margin-top: 0px;
  }
  .footer__footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
    margin-bottom: 60px;
  }
  .footer__form-input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__telegram-btn {
    margin-top: 30px;
  }
  .footer__email-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__footer-adress {
    margin-right: 93px;
    margin-bottom: 0px;
  }
  .footer__footer-social-div {
    margin-right: 93px;
    margin-bottom: 0px;
  }
  .footer__email-form {
    margin: 0;
    width: 358px;
    height: 50px;
    background: var(--hero-bgc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin-top: 9px;
  }
  .footer__item:first-child {
    margin-top: 0px;
  }
  .footer__footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
    margin: 0px;
  }
  .footer__form-field {
    margin-right: 12px;
  }
  .footer__form-input {
    width: 358px;
  }
  .footer__telegram-btn {
    margin-top: 0px;
  }
}

.projects__menu-list, .projects__list, .projects__filter {
  margin-top: 0px;
  margin-bottom: 0px;
}

.projects__btn {
  color: var(--title-color);
  background-color: var(--secondary-bgc);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  font-family: 'Roboto';
  border-radius: 4px;
  border: 4px solid transparent;
  height: 38px;
  min-width: 73px;
  padding: 0px;
  padding: 6px 22px 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__btn:hover, .projects__btn:focus {
  color: var(--special-title-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .projects__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
    gap: 8px;
    padding: 0px;
  }
  .projects__btn {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .projects__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .projects__btn {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__menu-list {
    margin-bottom: 50px;
  }
}

.projects__div-projects {
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -20px;
}

.projects__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 2;
  text-decoration: none;
}

.projects__filter {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  margin-top: 4px;
  line-height: 1.87;
  text-decoration: none;
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .profects__overlay,
.projects__link:focus .profects__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__div-text-wrapper {
  position: relative;
  overflow: hidden;
}

.profects__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--special-title-color);
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1999px) {
  .projects {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .projects__list {
    padding-left: 0px;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .projects__img {
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .projects {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .projects__list {
    padding-left: 0px;
    padding-bottom: 0px;
    display: block;
  }
  .projects__img {
    width: 100%;
  }
  .projects__link {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .projects__item {
    margin-bottom: 30px;
  }
  .projects__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .projects__list {
    padding-left: 0px;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
  }
  .projects__img {
    width: 370px;
  }
  .projects__item {
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
  }
  .projects__item:nth-child(3n) {
    margin-right: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal {
  width: 528px;
  height: 581px;
  background-color: var(--primary-bgc);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.backdrop__modal-close {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.backdrop__close-icon {
  width: 12px;
  height: 12px;
}

.backdrop__close-icon:focus, .backdrop__close-icon:hover {
  fill: var(--accent-color);
}

.backdrop__hero-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
}

.backdrop__hero-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.backdrop__hero-form-div {
  margin-top: 4px;
  position: relative;
  display: block;
}

.backdrop__hero-form-field {
  display: block;
}

.backdrop__hero-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.backdrop__hero-form-input:focus {
  border: 1px solid #2196F3;
}

.backdrop__hero-form-input:focus + .backdrop__hero-form-icon {
  fill: var(--accent-color);
}

.backdrop__hero-form-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__hero-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.backdrop__hero-form-message:focus {
  border: 1px solid #2196F3;
}

.backdrop__hero-form-checkbox {
  margin-top: 20px;
}

.backdrop__hero-form-input-checkbox {
  margin-left: 12px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.backdrop__hero-form-input-checkbox:checked + .backdrop__hero-form-field-checkbox::before {
  background-color: var(--accent-color);
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  border-color: #2196F3;
  border-radius: 2px;
}

.backdrop__hero-form-input-checkbox:focus + .backdrop__hero-form-field-checkbox::before {
  outline: none;
  border-color: #2196F3;
}

.backdrop__hero-form-field-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop__hero-form-field-checkbox::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__hero-form-btn {
  color: var(--special-title-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196F3;
  margin: auto;
  margin-top: 30px;
  padding: 10px 55px;
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: #2196F3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.backdrop__policy-checkbox-title {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .backdrop__modal {
    width: 450px;
  }
}

@media screen and (min-width: 0) and (max-width: 479px) {
  .backdrop__modal {
    width: 90%;
  }
}

/*
 @media screen and (max-width: 767px) {}
 @media screen and (min-width: 768px) and (max-width: 1199px){}
 @media screen and (min-width: 1200px) {}
 */
/*# sourceMappingURL=main.css.map */