.about__list, .portfolio, .header {
    background-color: var(--primary-bgc);
    margin: 0;
    padding-left: 0px;
    
}

.about__image{
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    
} 

.about__icon{
    background: #F5F4FA;
    border-radius: 4px;
    
}
.about__title{
    color: var(--title-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 0px;
    
    
}
.about__text {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0px;}

@media screen and (max-width: 767px) {

    .section-about{
    
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about__list {
        display: block;
    }
    .about__title{
        text-align: center;
        margin-top: 30px;
    }
    .about__item{
        width: 450px;
    }
    .about__text{
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) {
    .section-about{
    
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about__list {
        display: flex;
        flex-wrap: wrap;
    }
    .about__item{
        width: 354px;
        margin-right: 30px;

        &:nth-child(2n){
            margin-right: 0px;
        }
    }
}
    

@media screen and (min-width: 1200px) {
.section-about {
    padding-top: 94px;
    padding-bottom: 94px;
}


.about__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
            
}
.about__item{
    width:270px;
    margin:0px;
    
}

}