
.clients__title {
    color: var(--title-color);
    line-height: 1.16;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.clients__link {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: var(--accent-color);
        border: 1px solid #2196F3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



@media screen and (max-width: 767px) {
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .clients__title {
        font-weight: 700;
        font-size: 28px;
        
    }
        
    .clients__list{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        gap:30px;
        
        
}
    .clients__item {
        width: 210px;
        height: 92px;
        
    }
    .clients__link{
        width: 100%;
        height: 100%;
    }
}
 @media screen and (min-width: 768px) {
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;
 }
 .clients__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap:30px;
 }
 .clients__item {
    width: 226px;
    height: 92px;
    
}
.clients__link{
    width: 100%;
    height: 100%;
}
}
 @media screen and (min-width: 1200px) {
    .clients {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .clients__list{
        display: flex;
        justify-content: center;
        padding-left: 0px;
        margin:0px;
        
    }
    .clients__title {
   
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
    }
    .clients__item {
        
        width: 170px;
        height: 90px;
        
    }
    
 }

 @media screen and (max-width: 479.98px) {
    .clients__list {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 30px;
       justify-content: center;
     }

     .clients__item {
        width: 100%;
     }
    }