
.footer {
    background-color: var(--hero-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
    
       
}

.footer__list{
    padding-left: 0px;
    margin-bottom: 0px;
}
.footer__logo-footer{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer__first-logo-footer{
    color: var(--accent-color);
    font-family: Raleway; 
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.footer__second-logo-footer{
    color:#FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.footer__footer-adress_link{
    color:#FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    
   
    
}
.footer__footer-contacts-link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    
    
}



.footer__title {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--special-title-color);
margin-top: 0px;
margin-bottom: 20px;
}
.footer__footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius:50%;

    &:hover, &:focus  {
    background-color: var(--accent-color);
    }
    
}


.footer__footer-social-item{
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius:50%;
    margin-right: 10px;
    &:last-child {
        margin-right: 0px;
    }
}




.footer__form-input {
    
    height:50px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-left: 16px;
    border:transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.footer__telegram-btn{
    width:200px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: var(--accent-color);
    margin: 0;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875; 
    letter-spacing: 0.06em;    
    color: var(--special-title-color); 
}
    


.footer__telegram-icon{
    fill:var(--special-title-color);
    margin-left: 12px;
}


 @media screen and (max-width: 1199px){

    .footer-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
      }
      .footer__email-div {
        
        text-align: center;
      }
    
      .footer__footer-social-div {
        text-align: center;
      }
      .footer__logo-footer{
        text-align: center;
    }
       .footer__footer-adress{
        display: block;
        
    }
       .footer__list{
        text-align: center;
    
   }
        .footer__footer-adress{
            margin-right: 165px;
            margin-bottom: 60px;
   }

   .footer__footer-social-list {
    display: flex;
    justify-content: center;
    padding: 0px;
   
}
.footer__form-input {
    width:450px;
    margin-left: auto;
    margin-right: auto;
}
.footer__telegram-btn{
    margin-top: 30px;
   
    
}
.footer__email-form{
display: flex;
flex-direction: column;
align-items: center;
}
}
      


@media screen and (max-width: 767px) {
   
    .footer__logo-footer{
        text-align: center;
    }
    .footer__footer-adress{
        display: block;
        margin-right: 0px;
        
    }
   .footer__list{
     
    text-align: center;
    margin-bottom: 60px;
   }
    .footer__title{
        text-align: center;
    }
    .footer__footer-social-div{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__item{
    margin-top: 8px;
    &:first-child{
        margin-top: 0px;
    }
}
.footer__footer-social-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 60px;
}

.footer__form-input {
    width:450px;
    margin-left: auto;
    margin-right: auto;
}
.footer__telegram-btn{
    margin-top: 30px;
   
    
}
.footer__email-form{
display: flex;
flex-direction: column;
align-items: center;
}
} 

 @media screen and (min-width: 1200px) {
    
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer__footer-adress{
    margin-right: 93px;
    margin-bottom: 0px;
}
.footer__footer-social-div{
    margin-right: 93px;
    margin-bottom: 0px;
}
.footer__email-form{
    margin:0;
    width:358px;
    height:50px;
    background: var(--hero-bgc);
    display: flex;
    align-items: center;
    

}
.footer__item{
    margin-top: 9px;
    &:first-child{
        margin-top: 0px;
    }
}
.footer__footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
      

}

.footer__form-field{
    margin-right: 12px;
   
}
.footer__form-input {
    width:358px;
}
.footer__telegram-btn{
    margin-top: 0px;
}
 }