
@media screen and (max-width: 767px) {
    .hero {
        background-color: #C4C4C4;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/mobhero.jpg);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        width: 480px;
        background-repeat: no-repeat;
        
    }
}
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

        .hero {  background-image:url(../img/mobhero.jpg);
        }

    
    .hero__title {
        color: var(--special-title-color);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        
        
        
       }
    .hero__button {
        color: var(--special-title-color);
        background-color: var(--accent-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background: #2196F3;
        margin: auto;
        height: 50px;
        padding: 10px 32px 10px 32px;
        display: block;
        margin: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: #2196F3;
        border-radius: 4px;
        }

}


@media screen and (min-width: 768px) {
    .hero {
        background-color: #C4C4C4;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/tabhero.jpg);
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

        .hero {  background-image:url(../img/tabhero.jpg);
        }
    }
    
    .hero__title {
        color: var(--special-title-color);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        
        
        
       }
    .hero__button {
        color: var(--special-title-color);
        background-color: var(--accent-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background: #2196F3;
        margin: auto;
        height: 50px;
        padding: 10px 32px 10px 32px;
        display: block;
        margin: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: #2196F3;
        border-radius: 4px;
        }
}
@media screen and (min-width: 1200) {
    .hero {
        background-color: #C4C4C4;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/hero.jpg);
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        background-repeat: no-repeat;
        
        
        
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

        .hero {  background-image:url(../img/hero.jpg);
        }
    }
    .hero__title {
        color: var(--special-title-color);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        
        
        
       }
    .hero__button {
        color: var(--special-title-color);
        background-color: var(--accent-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background: #2196F3;
        margin: auto;
        height: 50px;
        padding: 10px 32px 10px 32px;
        display: block;
        margin: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: #2196F3;
        border-radius: 4px;
        }
}
