
.portfolio{
    
    padding-bottom: 94px;
}
.portfolio__title{
    color: var(--title-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio__list{
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
  .portfolio__image{
      margin-right: 30px;
      position: relative;
      
  }
  
  .portfolio__over-thumb{
      position: absolute;
      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top:224px;
    
  }
  .portfolio__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin:0;
    color: var(--special-title-color);
        }
    
@media screen and (max-width: 1199px) {
    .portfolio {
      display: none;
       }
  }