body {
    color: #2a2a2a;
    background-color: #fff;
    font-family: Roboto; 
    letter-spacing: 0.03em;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    }

    body.modal-open {
      overflow: hidden;
    }



    .container {
        padding-left: 15px;
        padding-right: 15px;
      
        margin-left: auto;
        margin-right: auto;
          }
      
      
      @media screen and (max-width: 767px) {
        .container {
          width: 480px;
            }
      }
      
      
      @media screen and (min-width: 768px) {
        .container {
            width: 768px;
              }
        }
      
       
      @media screen and (min-width: 1200px) {
      .container {
          width: 1200px;
        }
      }
      
.ul, .ol, .h1, .h2, .h3, .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.about__list, 
.portfolio__list,
.footer__footer-social-list,
.clients__list, 
.social-list, 
.team__list, 
.footer, 
.footer-social, 
.footer__list, 
.header__site-nav-list, 
.header__auth-nav-list, 
.projects__menu-list, 
.projects__list,
.mobile-menu__list,
.mobile-menu__contact-list,
.mobile-menu__social-list {
    list-style: none;
  
}